  <% @host.each do |host| %>
    <tr>
      ip:<td><%= host.ip %></td>

      port:<td><%= host.port %></td>
      version:<td><%= host.version %></td>
      service:<td><%= host.service %></td>
      <br/>
   
   <% end %>    

    </tr>
<%= link_to 'Back', '/articles' %>